* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav {
  width: 100%;
  height: 80px;
  background-color: #101010;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.8);
}
nav > h2 {
  font-size: 26px;
}
ul {
  display: flex;
  gap: 42px;
}
li {
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
}
nav > button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border: 2px solid transparent;
}
nav > button:hover {
  border: 2px solid #f8f8f8;
}
.hero-sec {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101010;
  color: #f8f8f8;
  padding: 10px 5%;
  gap: 20px;
}
.hero-sec > .hero1 {
  width: 50%;
}
.hero1 > h1 {
  max-width: 500px;
  width: 100%;
  font-size: clamp(32px, 5vw, 48px);
  margin-bottom: 20px;
}
.hero1 > p {
  max-width: 450px;
  width: 100%;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;
}
.hero1 > button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  padding: 12px;
  background-color: transparent;
  border: 2px solid #f8f8f8;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.hero1 > button:hover {
  background-color: #f8f8f8;
  color: #101010;
}
.hero-sec > .hero2 {
  width: 50%;
  display: flex;
  justify-content: center;
}
.hero2 > img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}
footer {
  background-color: #101010;
  color: #fff;
}
footer > .footer {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer > button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #101010;
  color: #f8f8f8;
  border: none;
}
.footer > button > i {
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}
footer > p {
  text-align: center;
  margin-top: 8px;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  nav {
    padding: 0px 20px;
  }
  ul {
    display: none;
  }
  nav > h2 {
    font-size: 20px;
  }
  nav > button {
    padding: 6px 12px;
    font-size: 14px;
  }
  .hero-sec {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
    height: auto;
  }
  .hero-sec > .hero1,
  .hero-sec > .hero2 {
    width: 100%;
  }
  .hero1 > h1 {
    margin: 0 auto 20px;
    font-size: 32px;
  }
  .hero1 > {
    font-size: 16px;
    margin: 0 auto 20px;
  }
  .heo2 > img {
    width: 80%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    gap: 15px;
  }
  footer > p {
    font-size: 12px;
    padding: 0px 10px;
  }
}
